@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Inter:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    color: #191919;
}

.btn-theme {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 27px;
    border-radius: 20px;    
    text-decoration: none;

    i {
        margin-left: 8px;
        font-size: 1em;;
    }

    &:hover {
        background-color: #191919;
        color: #F0EFE9;
        border: 1px solid #191919;
    }
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: black;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

.btn-black{
    background-color: #191919;
    color: #FFFFFF;
}



.section-title {
    padding-top: 120px;
    padding-bottom: 90px;

    p {
        color: #F94D1C;
        font-size: 18px;
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        line-height: 22px;
        margin-bottom: 10px;
    }

    h2 {
        color:#191919;
        font-family: 'DM Sans', sans-serif;
        font-size: 45px;
        font-weight: bold;
    }
}

header{
    background-color: #F0EFE9;
    padding: 16px;


    .container {
        // border: 1px solid black;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: space-between;

        .hamburger {            
            font-size: 30px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }
    }

    .logotype {
        // border: 1px solid black;
        flex: 0.1;
        padding-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        // border: 1px solid black;
        flex: 1;
        display: none;

        @media (min-width: 992px) {
            display: block;          
        }

        .top-menu {
            display: flex;
            justify-content: space-between;            
            border-bottom: 1px solid #DAD9D3;
            padding-bottom: 10px;          

            .contact-information {                
                display: flex;            
                align-items: center;

                .content-box {
                    font-family: 'Inter', sans-serif;
                    font-size: 15px;
                    font-weight: 300;                    
                    padding-right: 30px;
                    margin-right: 30px;                    
                    border-right: 1px solid #DAD9D3;
                    // border-bottom: 1px solid grey;
                  
    
                    i {
                        font-size: 1.2em;
                        padding-right: 5px;
                        color: #666666;
                    }
    
                    &.last {
                        border-right: none;
                    }
                }
            }

            .social-media {

                display: none;

                @media (min-width: 1200px) {
                    flex: end;
                    display: flex;
                    align-items: center;
                }

    
                a {
                    margin-left: 10px;
                    color: #191919;
                    font-size: 1.3rem;

                    &:hover {
                        color: #666666;
                    }
                }
            }
        }
    }
 
    .main-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;   
        padding-top: 20px;     

        @media (min-width: 1200px) {
            justify-content: space-between;
        }

        nav {
            a {
                display: inline-block;
                text-decoration: none;
                color: #191919;
                margin-right: 40px;
                position: relative;

                &.active::after,
                &.hover::after {
                    content: '';
                    position: absolute;
                    font-weight: 500;
                    height: 2px;
                    width: 15px;
                    background-color: #191919;
                    left: 50%;
                    bottom: -3px;
                    transform: translate(calc(50% - 15px));
                }         
            }
        }

      
    }

}

.showcase-section {
    background-color: #F0EFE9;
    // border: 1px solid #F9D783;
    
    .container {
        // border: 1px solid black;
        display: flex;
        padding-bottom: 20px;

        @media (min-width: 1200px) {
            padding-bottom: 0px;
        }
        
              
        

        .showcase-text {


            @media (min-width: 1200px) {
                padding-top: 125px;
                text-align: left;
            }
            
            // border: 1px solid black;
            padding-top: 75px;
            text-align: center;
            

            h1 {
                font-size: 90px;
                font-weight: 700;
                font-family: 'DM Sans', sans-serif;
            }

            p {
                font-size: 20px;
                padding-top: 35px;
                padding-bottom: 20px;
            }

            a {
                margin-top: 20px;
                margin-right: 10px;

                &:hover {
                    cursor: pointer;
            }
            }
           
        }

        .showcase-img {
            display: none;
            margin-right: -50px;


            @media (min-width: 1200px) {
                display: block;
            }
        }

       


    }


}

.brand-section {
    background-color: #FFFFFF;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .brand-top {
        // border: 1px solid black;        
        display: none;
        
        @media (min-width: 768px) {
            display: flex;        
            justify-content: space-between;
            margin-top: 50px;

            img {
                max-width: 20%;
            }
        }

        @media (min-width:1200px) {
            display: flex; 
            img {
                max-width: 100%;
            }                      
            
        }
    } 

    .border-div {

        @media (min-width: 992px) {
            margin-top: 75px;        
            height: 600px;
            border: 1px solid rgba(25,25,25,0.2 ); /* Lägg till en kant runt brand-features */

        }
        

        @media (min-width: 1400px) {
            width: 1320px;
        }

        @media (min-width: 1550px) {
            width: 1520px;
        }
      

        
        .container {           
            padding: 0px;
        }
    }

    .brand-features {

        
        display: grid;

        grid-template-areas:    ". features ."
                                ". business-advise ."
                                ". startup ."
                                ". financial-advise. " 
                                ". risk .";

      

        @media (min-width: 550px) {
            grid-template-areas:        "features features"
                                        "business-advise startup"
                                        "financial-advise risk";
        }

        @media (min-width: 992px) {
            grid-template-areas:    "features business-advise startup"
                                    "features financial-advise risk";
        }

        @media (min-width: 1200px) {
                    column-gap: 110px;

        }
        

        .features {
            grid-area: features;
            margin-right: 20px;
            margin-left: 20px;

            p {
                color: #F94D1C;
                font-size: 18px;
                font-family: 'Inter', sans-serif;
                font-weight: 500;
                line-height: 22px;
                margin-bottom: 10px;
            }

            a {
                display: block;
                margin-top: 48px;
                text-align: center;
                
            }
        }  

        .business-advise {
            grid-area: business-advise;
            max-width: 275px;            
            align-self: center;
            justify-self: center;

            i {
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 25px;
            }

            @media (min-width: 550px) {
                padding-left: 45px;
            }

            @media (min-width: 992px) {
                padding-top: 130px;
                padding-left: 0;
            }            
           
        }

        .financial-advise {
            grid-area: financial-advise;
            max-width: 275px;
            margin-top: 31px;            
            align-self: center;
            justify-self: center;
            

            i {
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 25px;
            }

            @media (min-width: 550px) {
                padding-left: 45px;
            }

            @media (min-width: 992px) {                
                padding-left: 0px;
            }   
        }

        .risk {
            grid-area: risk;
            margin-top: 31px;            
            max-width: 275px;
            align-self: center;
            justify-self: center;

            i {
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 25px;
            }

            @media (min-width: 992px) {                
                padding-right: 50px;
                padding-left: 0px;
            }
        }

        .startup {
            grid-area: startup;
            max-width: 275px;
           
            align-self: center;
            justify-self: center;

            i {
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 25px;
            }

            @media (min-width: 992px) {
                padding-top: 130px;
                padding-right: 50px;
                padding-left: 0px;
            }
        }

        h3 {
            color:#191919;
            font-family: 'DM Sans', sans-serif;
            font-size: 22px;
            font-weight: bold;
        }
        
        p {
            font-family: "Inter";
            font-size: 16px;
            font-weight: normal;
            line-height: 25px;
            font-style: normal;                
            color: rgba(25,25,25,0.7 );
        }



    }



    .brand-about.container {
        display: grid; /* Använd CSS Grid för att dela upp utrymmet */
        grid-template-columns: 1fr 1fr; /* Dela upp utrymmet i två lika stora delar */
        gap: 20px; /* Lägg till önskat mellanrum mellan elementen */
        align-items: start; /* Centrera vertikalt */
        justify-items: center;
        // border: 1px solid black;
        padding-left: 56px;
        padding-top: 120px;

        .section-title {
            padding-top: 0px;
           
            .no-title {
                color:#191919;
            }
        }

        img {
            width: 100%; /* Sätt bredden till 100% för att fylla hela utrymmet */
        }

        .about-company {

            .play-btn {
                display: inline-block;
                width: 48px;
                height: 48px;
                line-height: 48px;
                text-align: center;
                border: 2px solid #191919;
                background-color: #FFFFFF;
                color: #191919;
                text-decoration: none;
                border-radius: 50%;
                font-size: 8px; /* Justera ikonens storlek efter behov */
            }
        }
    }
    

.brand-about.container .section-title {
    padding-top: 0px;
}
    
}


.service-section {
    background-color: #F0EFE9;

    .container {

        .section-title {

        }

        .card-content {
            display: grid;
            grid-template-columns: 1fr;
           justify-items: center;
            row-gap: 30px;

            @media (min-width:768px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (min-width:1000px) {
                row-gap: 80px;
            }

            @media (min-width: 1200px) {
                display: flex;
                justify-content: space-between;
            }

            .card {
                max-width: 308px;
                height: 333px;                
                background-color: #FFFFFF;
                padding: 25px;
                padding-bottom: 35px;

                p {
                    font-size: 16px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 500;
                    line-height: 28px;                                   
                    padding-bottom: 20px;
                    color: #A2A2A2
                }

                h3 {
                    font-size: 22px;
                    padding-bottom: 12px;
                }

                .arrow-link {
                    display: flex;
                    justify-content: flex-end;
                
                    a.btn-round {
                        width: 56px; /* Justera storleken efter behov */
                        height: 56px;
                        display: block;
                        border-radius: 50%;
                        line-height: 56px;
                        text-align: center;
                        border: 1px solid black;
                        background-color: #191919;

                        i {
                            color: #F2F2F2;
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .btn-services {
            display: flex;
            justify-content: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
}

.choose-section {
    
    .container {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;

        @media (min-width: 1000px) {
            flex-direction: row;
        }

        
        .section-title {
            // border: 1px solid black;
            padding-top: 61px;
            
            
            h2 {
                padding-right: 50px;

                @media (min-width: 1400px) {
                    padding-right: 228px;
                }
            }

            

            .choose-grid {
                padding-top: 30px;
                display: grid;
                align-items: center;

                grid-template-columns: 1fr 15fr;
                row-gap: 30px;
                
                          
                i {
                
                }
            }
            
        }

        .choose-img-container {
            
            // border: 1px solid black;
            width: 100%;
            
           
        }

        img {
                width: 100%;
            
            @media (min-width: 768px) {
                width: 645px;
            }            

            @media (min-width: 1000px) {
                padding-top: 200px;
                width: 110%;
                height: 80%;
            }
                                   

            @media (min-width: 1200px) {
                max-width: 645px;                
                height: 505px;
                padding-top: 88px;
            }
        
        }
    }
}




.project-and-case-section {
    
    .container {

        .section-title {
            text-align: center;
        }

        .project-and-cases {
            display: grid; /* Använd CSS Grid för att dela upp utrymmet */
            grid-template-columns: 1fr;
            row-gap: 50px;
            column-gap: 30px;

            @media (min-width: 768px) {
                grid-template-columns: 1fr 1fr;
            }
            


            article {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto 1fr auto;

                img {
                    width: 100%;

                    // Sätt höjden eftersom bildena har olika dimensioner
                    @media (min-width: 768px){
                        height: 220px;
                    }

                    @media (min-width: 1000px){
                        height: 300px;
                    }

                    @media (min-width: 1200px){
                        height: 360px;
                    }
                    
                    @media (min-width: 1400px){
                        height: 311px;
                    }                    
                }

                h3 {
                    font-family: 'DM Sans', sans-serif;
                    font-weight: 700;
                    font-size: 22px;
                    padding-top: 35px;
                    padding-bottom: 16px;
                    border-bottom: 1px solid #DAD9D3;
                }

                a {
                    display: block;
                    text-align: right;
                    color: #191919;
                    text-decoration: none;
                    font-size: 14px;
                    font-weight: 500;
                    font-family: 'Inter', sans-serif;
                    margin-right: 15px;
                    margin-top: 25px;

                    i {
                        margin-left: 5px;
                    }

                }
            }

         

        }

        .all-projects {
            padding-top: 100px;
            text-align:  center;
        }
    }
}

