@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=Inter:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&family=Inter:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    color: #191919;
}

.btn-theme {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 27px;
    border-radius: 20px;    
    text-decoration: none;

    i {
        margin-left: 8px;
        font-size: 1em;;
    }

    &:hover {
        background-color: #191919;
        color: #F0EFE9;
        border: 1px solid #191919;
    }
}

.btn-yellow {
    background-color: #F9D783;
    border: 1px solid #F9D783;
    color: black;
}

.btn-transparent {
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

header{
    background-color: #F0EFE9;
    padding: 16px;


    .container {
        // border: 1px solid black;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: space-between;

        .hamburger {            
            font-size: 30px;
            border: none;
            background-color: transparent;

            @media (min-width: 992px) {
                display: none;
            }
        }
    }

    .logotype {
        // border: 1px solid black;
        flex: 0.1;
        padding-right: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu {
        // border: 1px solid black;
        flex: 1;
        display: none;

        @media (min-width: 992px) {
            display: block;          
        }

        .top-menu {
            display: flex;
            justify-content: space-between;            
            border-bottom: 1px solid #DAD9D3;
            padding-bottom: 10px;          

            .contact-information {                
                display: flex;            
                align-items: center;

                .content-box {
                    font-family: 'Inter', sans-serif;
                    font-size: 15px;
                    font-weight: 300;                    
                    padding-right: 30px;
                    margin-right: 30px;                    
                    border-right: 1px solid #DAD9D3;
                    // border-bottom: 1px solid grey;
                  
    
                    i {
                        font-size: 1.2em;
                        padding-right: 5px;
                        color: #666666;
                    }
    
                    &.last {
                        border-right: none;
                    }
                }
            }

            .social-media {

                display: none;

                @media (min-width: 1200px) {
                    flex: end;
                    display: flex;
                    align-items: center;
                }

    
                a {
                    margin-left: 10px;
                    color: #191919;
                    font-size: 1.3rem;

                    &:hover {
                        color: #666666;
                    }
                }
            }
        }
    }
 
    .main-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;   
        padding-top: 20px;     

        @media (min-width: 1200px) {
            justify-content: space-between;
        }

        nav {
            a {
                display: inline-block;
                text-decoration: none;
                color: #191919;
                margin-right: 40px;
                position: relative;

                &.active::after,
                &.hover::after {
                    content: '';
                    position: absolute;
                    font-weight: 500;
                    height: 2px;
                    width: 15px;
                    background-color: #191919;
                    left: 50%;
                    bottom: -3px;
                    transform: translate(calc(50% - 15px));
                }         
            }
        }

      
    }

}

.showcase {
    background-color: #F0EFE9;
    // border: 1px solid #F9D783;
    
    .container {
        // border: 1px solid black;
        display: flex;
        padding-bottom: 20px;

        @media (min-width: 1200px) {
            padding-bottom: 0px;
        }
        
              
        

        .showcase-text {


            @media (min-width: 1200px) {
                padding-top: 125px;
                text-align: left;
            }
            
            // border: 1px solid black;
            padding-top: 75px;
            text-align: center;
            

            h1 {
                font-size: 90px;
                font-weight: 700;
                font-family: 'DM Sans', sans-serif;
            }

            p {
                font-size: 20px;
                padding-top: 35px;
                padding-bottom: 20px;
            }

            a {
                margin-top: 20px;
                margin-right: 10px;

                &:hover {
                    cursor: pointer;
            }
            }
           
        }

        .showcase-img {
            display: none;
            margin-right: -50px;


            @media (min-width: 1200px) {
                display: block;
            }
        }

       


    }


}
